<html>
    <ag-grid-angular
        #agGrid
        style="width: 590px; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
        [defaultColDef]="defaultColDef"
        [frameworkComponents]="frameworkComponents"
    >
    </ag-grid-angular>
  
    <!--Button that gets the selected data and 
        sends it to the server. To do this, 
        we are going to use the AG Grid API - 
        we will access it through the component 
        instance. To access to component instance 
        we will need to add the #agGrid id to our 
        component.-->
    <button (click)="getSelectedRows()">Get Selected Rows</button>
</html>